*{
    background-color: pink;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    border-color: antiquewhite;
    border-width: 10px;
    border-style: dashed;
}
