@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  border-radius: 16px;
  padding: 5px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a{
  text-decoration: none;
  color: grey;
}

.header, .footer{
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.footer{
  background-color: gainsboro;
}

.right-links{
  margin-left: auto;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}